
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
    font-family: 'Source Sans Pro',sans-serif;    
    letter-spacing: 1px;
}
#navbar{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(246, 246, 246);    
    width:100%;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;   
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}
#name_image{ 
    width: 20%;   
    display: flex;   
    gap: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    /* border: 1px solid black; */
}

#name_image > div{    
    width: 20%;
    /* height: 10%; */
    display: flex;
    justify-content:flex-end;
    /* border: 1px solid black; */
}
#name_image>div>img{
    width: 100%;
    border-radius: 100%;
}
#tabs{
    display: flex;
    width: 40%;
    justify-content: space-around;
    font-size: 13px;
    font-weight: 700;
}
#tabs>div>a:hover,
#name_image>p:hover{
    color: #facf0f;
}
#tabs>div>a{
    text-decoration: none;
    color: black;
}
#dropdown,
#content{
    display: none;
}
#brief{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
#landscape{
    width: 100%;
    height: 90vh;  
    opacity: 0.4;  
}
#portrait{
    display: none;
}
#brief>div{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#name_tag{
    text-align: center;
    font-size: 54px;
    font-weight:1000;
    letter-spacing: 1px;
}
#brief>div>div:nth-child(3){
    width: 60%;
}
#brief_detail{
    font-size: 21px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
}
#resume_redirect{
    width: fit-content;
    text-align: center;
    padding: 15px 30px;
    font-size: 21px;
    border-radius: 7px;
    border: none;
    background-color: 
    #facf0f;
}
#brief>div>img{
    width: 10%;
    border-radius: 100%;
}
#contact_details{
    position: fixed;
    left: 0;
    display: flex;   
    padding: 15px 15px 15px 8px;   
    background-color: rgb(179, 178, 178);  
    opacity: 0.8;
    border-radius: 0 10px 10px 0;
}
#contact_details>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;    
}
#contact_details>div>div{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white; 
    border-radius: 7px;
}
#contact_details>div>div:hover{
    background-color: #facf0f;
}
#contact_details>div>div>a{
    color: black;    
}
#about_me,
#tech_stack,
#project{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tags{
    font-size: 40px;
    margin: 100px auto 0px;
    text-align: center;
}
.line{
    width: 5%;
    margin: 5px auto;
    height: 5px;
    background-color: #facf0f;
    border-radius: 2px;
}
.about_the_section{
    width: 60%;
    font-size: 20px;
    margin: 20px auto 60px;    
    text-align: center;
}
#description_skills{
    /* border: 1px solid black; */
    display: grid;    
    width: 80%;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
#description_skills>div:first-child,
#description_skills>div:nth-child(2){
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* align-items: center; */
}
#description_skills>div:first-child>p:first-child,
#description_skills>div:nth-child(2)>p:first-child{
    font-size: 18px;    
}
#description_skills a{
    color: black;
    text-decoration: none;
}
#skills{
    display: flex;
    flex-wrap: wrap;  
    gap: 10px;
}
#skills>div{
    width: auto;
    padding: 10px 20px;
    background-color:#d0d0d0;
    border-radius: 10px;
}
#tech{
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    /* border: 1px solid; */
}
#tech>div{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* border:1px solid #dcdad0; */
}
#tech>div>img{
    width:70%;
    height: 100%;    
}
#projects_div{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.main{
    /* display: flex; */
    /* justify-content: space-between; */
    /* gap: 20px;  */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 50px;
}
.picture{
    width: 100%;
    /* padding: 20px; */
    /* border: 1px solid black;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
}
.picture>div:first-child{
    width: 90%;  
    padding: 3%;  
    background-color: rgb(42, 40, 40);
    border-radius: 10px 10px 0 0;
}
.picture>div:first-child>div>img{
    width: 100%;
}
.picture>div:nth-child(2){
    width: 100%;
    height: 12px;
    background-color: #d0d0d0;
    border-radius: 3px 3px 0 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.picture>div:nth-child(3){
    width: 100%;
    height: 10px;
    background-color: #616163;
    border-radius: 0 0 100% 100%;
}
.project_description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    letter-spacing: 2px;
}
.project_description>div:first-child{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.project_description>div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 20px;
}
.project_description>div:nth-child(3){
    width: 70%;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.project_description>div:nth-child(3)>button{
    padding: 10px 20px;
    background-color: #facf0f;
    border: none;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
}
#contact{    
    width: 100%;
    text-align: center;
}
#block{
   width: 100%;
   display: flex;  
   justify-content: center;
   align-items: center;
   gap: 20px;
   background-color: black;
   padding: 50px;
}
#block>div,
#block1>div{    
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 4px solid yellow; */
}
#block>div>a,
#block1>div>a{
    color: black;  
    cursor: pointer;  
}
#block>div>a>div,
#block1>div>a>div{
    background-color: white;
    margin:auto;
    /* width: 100%; */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#block>div>a>div:hover,
#block1>div>a>div:hover{
    background-color: #facf0f;
}
#block1{
    display: none;
}

@media all and (min-width: 600px) and (max-width: 1024px){

    #name_image{ 
        width: 40%;              
        gap: 10px;          
        font-weight: 600;        
    } 
    #name_image > div{    
        width: 15%;
        /* height: 10%; */
        display: flex;
        justify-content:flex-end;
        /* border: 1px solid black; */
    } 
    #tabs{
        width: 50%;        
        font-weight: 600;
    }    
    #landscape{        
        height: 80vh;    
    }    
    #name_tag{       
        font-size: 45px;
        font-weight:900;        
    }
    #brief>div>div:nth-child(3){
        width: 70%;
    }
    #brief_detail{
        font-size: 16px;      
    }
    #resume_redirect{        
        font-size: 18px;        
    }    
    #brief>div>img{
        width: 10%;
        border-radius: 100%;
    }    
    .tags{
        font-size: 30px;
        margin: 80px 0px 0px;
    }    
    .about_the_section{       
        font-size: 17px;
       
    }  
    #contact_details{
        position: fixed;
        left: 0;
        display: flex;   
        padding: 10px 10px 10px 5px;   
        background-color: rgb(179, 178, 178);
        opacity: 0.8; 
        border-radius: 0 10px 10px 0;
    }
    #contact_details>div{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;    
    }
    #contact_details>div>div{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 4px;
        background-color: white; 
        border-radius: 7px;
    }
    #contact_details>div>div>a{
        color: black;    
    }
    
    #description_skills>div:first-child>p:first-child,
    #description_skills>div:nth-child(2)>p:first-child{
        font-size: 17px;    
    }
    #description_skills>div:first-child>p:nth-child(2),
    #description_skills>div:first-child>p:nth-child(3),
    #skills>div{
        font-size: 15px;
    }
    .main{       
        display: flex;
        flex-direction: column;        
        margin: 30px;
    } 
    .picture{
        width: 70%;
        margin: auto;
    }     
    .project_description>div:first-child{
        text-align: center;        
    }
    .project_description>div:nth-child(2){        
        align-items: center;  
        text-align: center;      
    }
    .project_description>div:nth-child(3){
        width: 50%;        
        margin: auto;
        justify-content: space-evenly;           
    }
    .project_description>div:nth-child(3)>button{        
        font-size: 15px;        
    }
}

@media all and (min-width: 0px) and (max-width: 599px){
    hr{
        border: 0.2px solid rgb(234, 233, 233) ;
    }
    #navbar{
        padding-right: 0;
    }
    #name_image{ 
        width: 70%;  
    }
    #name_image > div{    
        width: 20%;
    }  
    #name_image>p{
        font-size: 14px;
    }  
    #tabs>div{
        display: none;
    }
    #tabs>div:last-child{
        display: flex;        
        cursor: pointer;
        position: relative;  
        justify-content: flex-end;     
        /* padding-right: 10px; */
        /* border: 1px solid ; */
        width: 100%;   
        z-index: 1;       
    }
    #tabs>div:last-child>i{
        margin-right: 10px; 
        font-weight: 00;       
    }      
    #cross{
        display: none;
    }   
    #content{
        position: absolute; 
        position: fixed;
        z-index: 1;         
        display: none; 
        width: 100%;
        flex-direction: column;
        text-align: right;         
        font-size: 12px;
        font-weight: 600;
        gap: 10px;
        background-color: rgb(255, 252, 252);
        right: 0;
        box-shadow: #facf0f(17, 12, 46, 0.15) ;             
    }
    #content>a{
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    #content a:hover{
        color: #facf0f;        
    } 
    /* #brief{
        width: 100%;
        
    }   */
    #landscape{          
        display: none;
    }  
    #portrait{
        display: block;
        width: 100%;
        height: 80vh;  
        opacity: 0.4; 
    }  
    #name_tag{    
        width: 90%;   
        font-size: 30px;
        font-weight:900;  
        line-height: 50px;      
    }
    #brief>div>{
        gap: 20px;
    }
    #brief>div:first-child>div:nth-child(3){
        width: 90%;
    }
    #brief_detail{
        font-size: 15px;   
        /* letter-spacing: px;   */
        /* line-height: normal;  */
    }
    #resume_redirect{        
        font-size: 17px;  
        width:fit-content ;
        padding: 10px 40px;      
    }    
    #brief>div>img{
        width: 30%;
    }   
    #contact_details,
    #contact_details>div{
        display: none;   
        opacity: 0;
    }  
    .tags{
        font-size: 20px;
        margin: 50px 0px 0px;
    }    
    .about_the_section{       
        font-size: 14px;
        margin-bottom: 30px;
        width: 80%;
    }   
    #description_skills{
        grid-template-columns: repeat(1, 1fr);
    } 
    #description_skills>div:first-child>p:first-child,
    #description_skills>div:nth-child(2)>p:first-child{
        font-size: 14px;  
        text-align: center;  
    }
    #description_skills>div:first-child>p:nth-child(2),
    #description_skills>div:first-child>p:nth-child(3),
    #skills>div{
        font-size: 13px;
    }
    #tech{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 30px auto 0;
        /* border: 1px solid; */
    }   
    #tech>div>p{
        font-size: 14px;
    }
    .main{       
        display: flex;
        flex-direction: column;        
        margin: 30px;
    } 
    #projects_div{
        width: 100%;
    }
    .picture{
        width: 100%;
        margin: auto;
    }     
    .project_description>div:first-child{
        text-align: center;  
        font-size: 14px;   
        width: 100%;   
    }
    .project_description>div:nth-child(2){        
        align-items: center;  
        text-align: center;  
        font-size: 13px;    
    }
    .project_description>div:nth-child(3){
        width: 30%;        
        margin: auto;
        justify-content: space-evenly;           
    }
    .project_description>div:nth-child(3)>button{        
        font-size: 14px;     
        padding: 10px 30px;  
        font-weight: 500; 
    }     
    #block{
        display: none;
    } 
    #block1{
        width: 100%;
        display: flex;  
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: black;
        padding: 30px;
     }
    #block1>div{    
        display: flex;    
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /* border: 4px solid yellow; */
    }
    
    #block1>div>a{
        color: black;
    }
    
    #block1>div>a>div{
        background-color: white;
        margin:auto;
        /* width: 100%; */
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
    } 
   
}

html{
    scroll-behavior: smooth;
}